@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-general-sans: "General Sans", sans-serif;
}

body {
  font-family: var(--font-general-sans);
}

/* AUTH CHECKBOX */
.checkmark {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  outline: none;
}

/* Checkbox checked state */
.checkmark:checked {
  background-color: #000;
  border: 2px solid transparent;
}

/* Custom checkmark using ::after */
.checkmark:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 5px;
  border: solid white;
  border-width: 0 0 2px 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* the circle... */
.circle-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle.layer-1 {
  width: 100px;
  height: 100px;
  background-color: #f3f3f3;
}

.circle.layer-2 {
  width: 80px;
  height: 80px;
  background-color: #dddddd;
  top: 10px;
  left: 10px;
}

.circle.layer-3 {
  width: 60px;
  height: 60px;
  background-color: #000;
  top: 20px;
  left: 20px;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: none;
}

/* hero marquee */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

/* product card icons */
.card-icons {
  @apply absolute right-3 top-4 flex flex-col items-center z-50 gap-2 opacity-0 translate-x-[50px] transition-all duration-500;
}

.group:hover .card-icons {
  @apply opacity-100 translate-x-0;
}

/* cart button */
.cart-button {
  @apply absolute bottom-4 left-3 p-2 bg-white w-[90%] rounded-full text-[14px] text-[red] font-medium flex justify-center items-center z-50 gap-2 opacity-0 translate-y-[50px] transition-all duration-500;
}

.group:hover .cart-button {
  @apply opacity-100 translate-y-0;
}

.group {
  @apply relative overflow-hidden;
}

/* smooth card transition */
.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 500ms, transform 500ms;
}
