@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-general-sans: "General Sans", sans-serif;
}

body {
  font-family: var(--font-general-sans);
}

/* AUTH CHECKBOX */
.checkmark {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  outline: none;
}

/* Checkbox checked state */
.checkmark:checked {
  background-color: #000;
  border: 2px solid transparent;
}

/* Custom checkmark using ::after */
.checkmark:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 5px;
  border: solid white;
  border-width: 0 0 2px 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
